pre { font-size: 90%;  background: #efefef; padding: 1pc; }
code { background: #efefef; }

.slide-content {
  width: 900px;
  height: 800px;
  margin-top: 2pc;
}

img[alt="center"]{
  margin: auto;
  display: block;
}

div.slide {
  transition: all 0.2s linear;
  visibility: visible;
  opacity: 1;
}

div.hidden {
    display: block;
    visibility: collapse;
    opacity: 0;
}

table {
  margin: 1pc;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #ccc;
}

table th, table td {
  border-width: 1px;
  border-style: solid;
  border-color: #cbcbcb;
  margin: 0;
  font-size: 90%;
  overflow: visible;
  padding: .5em 1em;
}

table td {
  background-color: transparent;
}

.why {
  background: url('why.png') no-repeat;
}

.confused {
  background: url('confused.jpg') no-repeat right;
}

.learning-curve {
  background-image: url('learning-curve.jpg');
  background-size: cover;
}

.cloud-download {
  background: url('cloud-download.png');
  background-size: cover;
}

.lessons-learned {
  background-image: url('lessons-learned.jpg');
  background-size: cover;
}

.online-resources {
  background-image: url('online-resources.jpg');
  background-size: cover;
}
