pre { font-size: 90%;  background: #efefef; }
code { background: #efefef; }

.slide-content {
  width: 900px;
  height: 800px;
  margin-top: 2pc;
}

img[alt="center"]{
  margin: auto;
  display: block;
}

div.slide {
  transition: all 0.2s linear;
  visibility: visible;
  opacity: 1;
}

div.hidden {
    display: block;
    visibility: collapse;
    opacity: 0;
}

table {
  margin: 1pc;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #ccc;
}

table th, table td {
  border-width: 1px;
  border-style: solid;
  border-color: #cbcbcb;
  margin: 0;
  font-size: 90%;
  overflow: visible;
  padding: .5em 1em;
}

table td {
  background-color: transparent;
}